/* .eli{
    width: 100px;
    height: 100px;
    background-color: crimson;
    border-radius: 50%;
    position: absolute;
    top: 300px;
    left: 700px;
}
.el-2{
    width: 100px;
    height: 100px;
    background-color: rgb(0, 0, 0);
    border-radius: 50%;
    position: absolute;
    top: 300px;
    left: 750px;
}
.el-3{
    width: 100px;
    height: 100px;
    background-color: rgb(88, 16, 151);
    border-radius: 50%;
    position: absolute;
    top: 300px;
    left: 800px;
    z-index: 2;
} */
/* body{
    background-color: darkgrey;
}
.input{
    height: 400px;
    width: 400px;
    background-color: white;
    border-radius: 20px;
    position: absolute;
    top: 250px;
    left: 450px;
    text-align: center;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}
.shadow{
    height: 400px;
    width: 400px;
    background-color: rgb(207, 203, 203);
    border-radius: 23px;
    position: absolute;
    top: 220px;
    left: 420px; 
    z-index: -1;
}
.text{
    width: 200px;
    height: 20px;
    border-radius: 10px;
    margin-left: 10px;
    padding-left: 20px;
}
.btn{
    width: 210px;
    height: 30px;
    background-color: rgb(45, 131, 5);
    margin-top: 10px;
    border: 2px solid rgb(45, 131, 5);
    border-radius: 10px;
    font-size: 18px;
    font-family: sans-serif;
    color: white;
} */
    nav{
    display: flex;
    justify-content: space-around;
    background-color: black;
    z-index: 2;
}
.text{
    text-align: center;
    display: flex;
    justify-content: space-between;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
    background-color: black;
    z-index: -1;
}

.theme{
font-size: 20px;
color: white;
font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.btn{
    margin-left: 50px;
    width: 150px;
    height: 30px;
    margin-top: 15px;
}
.p1{
    margin-left: 20px;
}
.p2{
    margin-left: 20px;
}
.p3{
    margin-left: 20px;
}
.p4{
    margin-left: 20px;
}
.circle{
background-color: rgba(181, 187, 192, 0.205);
position: absolute;
width: 300px;
height: 300px;
border-radius: 50%;
top: -100px;
left: 200px;
z-index: 1;
}